<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Curso Formulario</title>
</head>
<body style="background-color: white;">
{% extends "Blog/madre.html" %}

    {% load static %}
    
    {% block inserte_aqui_su_contenido %}
    Bienvenido a la app de Blogs - Crear un Blog nuevo o Editar uno ya existente

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
</body>
</html>